@charset "UTF-8";

@import url(header.css);
@import url(banner.css);
@import url(sobre.css);
@import url(receita.css);
@import url(quemSomos.css);
@import url(../css/rodape.css);
@import url(goTop.css);

:root {
  --font-principal: Roboto;
  --font-pacifico: Pacifico;
  --vermelho: #8D0606;
  --cinza: #8C8888;
  --branco: #ffffff;
  --background-cinza: #E5E5E5;
  --background-rodape: #C4C4C4;
}

body {
  overflow-x: hidden;
}