body {
  margin: 0;
  display: 0;
  overflow: hidden;
}


.arrows {
  display: none;
}

@media (max-width: 600px) {
  body {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  .p5Canvas {
    max-width: 100%;
  }
  .arrows {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-direction: column;
    position: absolute;
    margin-top: 410px;
    height: 300px;
    width: 100%;
  }
  .arrow__up {
    justify-self: center;
    grid-column: 1 / span 3;
    font-size: 3.5rem;
    background: transparent;
    border: none;
  }
  .arrow__down {
   justify-self: center;
   grid-row: 4;
   grid-column: span 3;
   font-size: 3.5rem;
   background: transparent;
   border: none;
  }
  .arrow__right {
    justify-self: end;
    grid-row: 2 / 3;
    grid-column: 3;
    font-size: 3.5rem;
    background: transparent;
    border: none;
    margin-right: 15px;
  }
  .arrow__left {
    justify-self: start;
    font-size: 3.5rem;
    background: transparent;
    border: none;
    margin-left: 15px;
  }

  #defaultCanvas0 {
    width: 100%;  
  }
}
