.card {
  transition: .5s ease-in-out;
}
.card:hover {
  background-color: rgba(0, 0, 0, .5);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.579);
  color: aliceblue;
  cursor: pointer;
  transform: translateY(-4px);
}
.cursos {
  background-attachment: fixed;
  background-image: url(../img/pexels-negative-space-97077.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.sobre {
  background-image: linear-gradient(#a6d8fc95, #d5edff, #d5edff);
}

.contatos {
  display: grid;
  gap: 1.5rem;
}
@media screen and (min-width: 540px) {
  .contatos {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 1040px) {
  .contatos {
    grid-template-columns: repeat(4, 1fr);
  }
}


