body {
  background-color: #a6d8fcad;
}

.card {
  transition: .5s ease-in-out;
}
.card:hover, .card:focus {
  background-color: rgba(0, 0, 0, .5);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.579);
  color: aliceblue;
  cursor: pointer;
  transform: translateY(-4px);
}
.cursos {
  background-attachment: fixed;
  background-image: url(../img/pexels-negative-space-97077.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contatos, .interesses {
  display: grid;
  gap: 1.5rem;
}
.offcanvas, .dropdown-menu {
  background-color: rgba(0, 0, 0, 0.885);
}


.pularNavegacao,
.pularNavegacao:active,
.pularNavegacao:focus,
.pularNavegacao:hover {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  width: 1px;
  height: 1px;
  display: block;
  color: transparent;
  position: absolute;
}
.instrucoes {
  margin: 10px 0;
}
.instrucoes__button {
  padding: 5px;
  border-radius: 10px;
  border: none;
  background-color: rgb(146, 146, 232);
  
}
.instrucoes__link {
  text-decoration: none;
}

@media screen and (min-width: 540px) {
  .contatos, .interesses{
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 1040px) {
  .contatos, .interesses{
    grid-template-columns: repeat(4, 1fr);
  }
}


