.card {
  transition: .5s ease-in-out;
}
.card:hover {
  background-color: rgba(0, 0, 0, .5);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.579);
  color: aliceblue;
  cursor: pointer;
  transform: translateY(-4px);
}
.cursos {
  background-attachment: fixed;
  background-image: url(../img/pexels-negative-space-97077.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.sobre {
  background-image: linear-gradient(#a6d8fc, #d5edff, #d5edff, rgba(119, 119, 228, 0.395));

}



